    <div class="container-fluid">
        <div class="row"  *ngFor="let besoin of besoins | async">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                 <!--       <img src="assets/img/background.jpg" alt="..."/> -->
                    </div> 
                    <div class="content">
                        <div [hidden]="!myVar" class="author">
                          <img class="avatar border-white" src="{{besoin.uprofil}}" alt="..."/> 
                          <h4 class="title">{{besoin.uinfo.status}}<br />
                             <a target="_blank" href="/showprofil?user={{besoin.user}}"><small>@Voir profil</small></a>
                          </h4>
                        </div>
                        <p class="description text-center">
                          {{besoin.s}}
                         
                        </p>
						<em class="description text-center">
                      
                        </em>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h5>{{besoin.sipay}}<br /><small>Payable</small></h5>
                            </div>
                            <div class="col-md-4">
                                <h5>{{besoin.rpay}}<br /><small>Payer</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5>{{besoin.uinfo.v}}<br /><small>Ville</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
             <!--   <div class="card">
                    <div class="header">
                        <h4 class="title">Team Members</h4>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar">
                                                    <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                DJ Khaled
                                                <br />
                                                <span class="text-muted"><small>Offline</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar">
                                                    <img src="assets/img/faces/face-1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                Creative Tim
                                                <br />
                                                <span class="text-success"><small>Available</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar">
                                                    <img src="assets/img/faces/face-3.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                Flume
                                                <br />
                                                <span class="text-danger"><small>Busy</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                    </div>
                </div>  -->
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Le client est ROI</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="onSubmit(reponses)" #reponses="ngForm">
                        <!--    <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <input type="text" class="form-control border-input" disabled placeholder="Company" value="Creative Code Inc.">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control border-input" placeholder="Username" value="michael23">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control border-input" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Company" value="Chet">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Last Name" value="Faker">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control border-input" placeholder="Home Address" value="Melbourne, Australia">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control border-input" placeholder="City" value="Melbourne">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control border-input" placeholder="Country" value="Australia">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control border-input" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>REPONSE</label>
                                        <textarea rows="5" name="reponserobot" class="form-control border-input" placeholder="Message au cher ami du robot"  id="reponserobot" ngModel>

										</textarea>
                                    </div>
									<input type="hidden" name="s"  id="s" [(ngModel)]="besoin.s" ngModel>
									<input type="hidden" name="user" id="user"  [(ngModel)]="besoin.user" ngModel>
									<input type="hidden" name="valkey" id="valkey"  [(ngModel)]="besoin.$key" ngModel>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">VALIDER</button>
								<button type="submit" class="btn btn-info btn-fill btn-wd" style="background-color: red;">SUPPRIMER</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
